<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="min-h-screen bg-slate-100 flex items-center justify-center">
  <main class="w-full flex justify-center px-4">
    <section
      class="bg-white rounded-2xl shadow-xl px-8 py-10 md:px-10 md:py-12 max-w-md w-full"
    >
      <h1 class="text-xl font-semibold text-blue-600 mb-6">
        Login
      </h1>

      <form action="/login" method="POST" class="space-y-4">
        <div>
          <input
            type="text"
            name="username"
            placeholder="Username"
            required
            class="w-full rounded-md border border-slate-200 px-4 py-2.5 text-sm outline-none
                   focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <div>
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
            class="w-full rounded-md border border-slate-200 px-4 py-2.5 text-sm outline-none
                   focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          />
        </div>

        <button
          type="submit"
          class="mt-4 w-full rounded-md bg-blue-600 hover:bg-blue-700 text-white text-sm font-semibold py-2.5"
        >
          Login
        </button>
      </form>

      <p class="mt-4 text-sm text-blue-600">
        <a href="/register" class="hover:underline">
          Don't have an account
        </a>
      </p>
        <% if (invalidCredentials) { %>
            <div class="mt-4 w-full bg-red-300 text-red-900 px-4 py-2 rounded-lg shadow-sm">
                Invalid credentials
            </div>
        <% } %>
        </section>
  </main>
</body>
</html>
